<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %> 
    <section >
       <div class="card-detail">
        <div class="card mb-3" >
          <div class="row g-0">
            <div class="col-md-6">
              <img src="./asset/productos/foto2.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title ">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ratione, qui assumenda repellat tenetur alias ipsam quas perferendis nobis ut suscipit autem inventore reiciendis voluptatem atque odio sunt quaerat eius, aspernatur esse, soluta iure quisquam illum eos! Veritatis dolore a fugiat ducimus, odit, consequuntur doloribus quidem necessitatibus molestiae alias iusto optio quam perspiciatis esse, rem ab! Rerum omnis, praesentium provident sed fugiat itaque inventore quaerat amet tempore quia delectus. Velit eligendi quasi saepe libero ut cupiditate itaque nihil amet iste nostrum. Autem minima fugit voluptatum soluta a assumenda voluptates ex perferendis quam fugiat, sed eligendi esse non exercitationem placeat ducimus.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
       </div>
        <!-- <div class=" contcard" >
            <div class="  card">
                <div class="imgProd">
                    <img src="./asset/productos/foto2.jpg" alt="">
                </div>
                <div class="fichaTec">
                    <h1>Titulo</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quo, enim iusto eum non alias. Ea corrupti totam ipsum harum sed, dignissimos aperiam ducimus unde beatae qui praesentium officia eum deserunt quia neque quas commodi ad blanditiis in tempora. Recusandae voluptas architecto eius fuga velit, et quas quibusdam cum tempora.</p>
                    <h3>Precio</h3>
                </div>
    
            </div>
        </div> -->
    </section>
</body>
</html>