<!DOCTYPE html>
<%- include('../partials/head') %>

<body>
  <%- include ('../partials/header') %>
  <section class="container fluid tarjetaProductos">
    <div class="row ">
    <%products.forEach(product =>{%> 
      <a href="./productDetail">
      <div class="card mb-3" style="max-width:510px;">       
        <div class="row g-0">
          
          <div class="col-md-4 mt-1 ml-1 ">
            <img src="/asset/productos/didactico1.jpg" class="img-fluid rounded-start" alt="didactico.">
          </div>
          <div class="col-md-7">           
            <div class="card-body">
              <h5 class="card-title"><%=product.name%> </h5>              
              <p class="card-text"><%= product.description %> </p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        
        </div>
      </div>
    </a>
    <% }); %>
  </div>
  </section>

</body>

</html>