@import url('./product.css');
@import url('./contacto.css');
@import url('./nosotros.css');
@import url('./administrar.css');
@import url('./addProduct.css');
@import url('productos.css');
@import url('./productDetail.css');


/* header */
.header{

    position: fixed;
    z-index: 1;
    background-image: url('/asset/logo/pedaso.jpg');
    background-size: cover;
    width: 100%;
    height: 200px;
}
#navbarSupportedContent{
    font-family: 'Indie Flower', cursive;
   
}
.navbar-collapse .navbar-nav .nav-item .nav-link{
    color: green;
    font-size: 22px;
    transition: .4s ease-in-out;

}
.navbar-collapse .navbar-nav .nav-item .nav-link:hover{
    color:rgb(236, 118, 0) ;
    transform: translateY(-6px);
    
}
.uk-icon.uk-navbar-toggle-icon{
    color: green;

}


.icon-ins{
    width: 36px;
    position: relative;
    bottom: 7px;
    right:0px;
}
.icon-face{
    width: 36px;
    position: relative;
    bottom: 8px;
    right: 0px;
    margin-left: 3px;
}

/* Secction .container */


.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, alpha);
    z-index: 100;
}
.btn-wsp:hover{
    text-decoration: none;
    color:#0df053 ;
    background: #fff;
}
.container{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 205px;
  
}
.container .video{
    width: 90%;
    position: relative;
    left:25px;
    margin-bottom: 10px;
}

.container .card{
    /* top: 166px; */
    margin-left: 42px;
    box-shadow: 5px 3px 3px grey;
    transition: all .2s ease-in-out;
    
}
.container .card:hover{
     transform:  translateY(-6px);    
} 
section .container .card .card-body .btn-primary{
    background-color: rgb(236, 132, 0);
}






/* Media querys */

@media (min-width: 992px){
   
    .icon-ins{
       
        bottom: 61px;
        right:37px;
    }
    .icon-face{
       
        bottom: 61px;
        right: 30px;
        
    } 




}