<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
  <%- include('../partials/header') %> 

  <section>
    <div class="banner">
     
    </div>
  </section>
  <section class="container" id="cont">
    <div class="card" style="width: 18rem;">
      <img src="/asset/productos/didactico1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Figuras Geometricas</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/asset/productos/foto1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cubos</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/asset/productos/foto2.jpg" class="card-img-top" alt="...">
      <div class="card-body ">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>
    
  </section>
  
  
  <%- include('../partials/script') %> 
</body>
</html>